
<template>

    <style>
        body{
/*            background-image: url('https://img.wallpapersafari.com/desktop/1536/864/66/27/CMAa8P.jpg');*/
            background-image: url('assets/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-size:12px;
            color: black;
        }

        .frm-login{
            position: fixed;
            left: 0;
            top: 0;
            width: 300px;
            height: 100%;
            padding-top: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(115, 190, 131, 0.8);
            text-align: center;

        }

        .frm-login *{
            padding: 8px;
            margin: 10px;
            width: 80%;
        }

        @media all and (max-width : 720px) {
            .frm-login{
                position: relative;
                width: 80%;
                height: auto;
               /* margin: auto;*/
                padding-top: 0;
                margin: 25vh auto;
                border-radius: 15px;
            }

        }
    </style>

    <div class="frm-login">
       
        <a href="#" class="logo"><img src="assets/logo.png" alt=""></a>

        <input type="text"     id="edtUser" placeholder="Usuário ou Email">
        <input type="password" id="edtPass" placeholder="Senha" onkeypress="return getEnter(event, 'btnLogin')" >
        <button id="btnLogin"> LOGIN </button>
        
        <hr size="1" width="90%" />

        <p>D2Soft - 2023</p>


    </div>

</template>
<script>

    localStorage.clear();                
//    console.log(window.location.href.substr(window.location.href.length-1,1))
//    console.log(window.location.href)
    
    localStorage.setItem("folder",window.location.href)
    localStorage.setItem("db_user",'0Y25N2V3)3+=MP2B6V238",1Q2GI3-L=-;!8[2""E23z@S/0');
    localStorage.setItem("db_pass",'5258Q5Y:Y"IIPS5E9]56;7m,T5JL@F!A"@PKa5U8H5N*5VSg');
    localStorage.setItem("db_serv",'k0kn-k5F)()f,/kyo*klqmC-0k#(LzAuAtHA_k1n!k*J%2/(');
    localStorage.setItem("db_data",')Yx :xD")3@=9=x.!+xy#w,0?x353/L:3)-8[x@ 1x/z=A/0');

    document.querySelector('#btnLogin').addEventListener('click',()=>{

        if(checkField(['edtUser','edtPass'])){
            let user = document.querySelector('#edtUser').value
            let hash = document.querySelector('#edtPass').value.getHash(30)
            const params = new Object;
                params.user = user;
                params.hash = hash;
            const myPromisse = queryDB(params,0)

            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve);
console.log(json)              
                if(json.length > 0){

                    localStorage.setItem("id_user",json[0].id);
                    localStorage.setItem("username",json[0].user);
                    localStorage.setItem("hash",json[0].hash);
                    localStorage.setItem("system",json[0].sistema);
                    localStorage.setItem("folder",json[0].path_system+'templates/');
                    localStorage.setItem("db_user",json[0].db_user);
                    localStorage.setItem("db_pass",json[0].db_pass);
                    localStorage.setItem("db_serv",json[0].db_serv);
                    localStorage.setItem("db_data",json[0].db_base);
                    localStorage.setItem("cliente",json[0].cliente);
                    localStorage.setItem("nome",json[0].nome);
                    localStorage.setItem("access",json[0].class);
                    localStorage.setItem("cel",json[0].cel);
                    localStorage.setItem("email",json[0].email);
                    document.querySelector('title').innerHTML = json[0].sistema
                    openHTML('dashboard.html','main-screen')
//                    document.documentElement.requestFullscreen();

                }else{
                    alert("Usuário ou senha inválido!");
                    localStorage.clear();                
                }     
            });            
        }
    })


</script>